.icon {
  @apply p-2 w-min p-0.5;
}

.icon--xs {
  @apply text-xs;
  line-height: 0.78rem;
}
.icon--sm {
  @apply text-sm;
  line-height: 0.86rem;
}
.icon--base {
  @apply text-base leading-4;
}
.icon--lg {
  @apply text-lg;
  line-height: 1.125rem;
}
.icon--xl {
  @apply text-xl leading-5;
}

.icon--primary {
  @apply text-primary-500 hover:text-primary-700;
}
.icon--accent {
  @apply text-accent-500 hover:text-accent-700;
}
.icon--medium {
  @apply text-medium-800 hover:text-dark-500;
}
.icon--white {
  @apply text-white hover:text-neutral-500;
}
