.icon {
  @apply p-2 w-min;
}

.icon--xs {
  @apply text-xs p-0.5;
  line-height: 0.78rem;
}
.icon--sm {
  @apply text-sm p-0.5;
  line-height: 0.86rem;
}
.icon--base {
  @apply text-base leading-4 p-1;
}
.icon--lg {
  @apply text-lg p-1.5;
  line-height: 1.125rem;
}
.icon--xl {
  @apply text-xl leading-5 p-2;
}
