.login-view {
  @apply w-full flex flex-col gap-4;
}

.login-view__intro {
  @apply w-full flex flex-col gap-4 items-center text-center;
}

.login-view__person {
  height: 215px;
  width: 157px;
}

.animation-wink {
  animation: wink 500ms infinite ease-in-out;
}

@keyframes wink {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(15deg);
  }
  70% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
